{
  "presets": [
    [
      "env", {
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": [ "transform-flow-strip-types", "transform-async-to-generator", "transform-strict-mode" ]
}
